#header {
    background-color:silver;
}

#footer {
    background-color: #313131;
}

#navTheme {
    background-color: #3b3b3b;
    color: #b6c0bd;
}


#textColorNavs {
    color: #b6c0bd;
}

body{
    background-color: #d5d5d5;
}